.trash/*
/source/content/.obsidian
/source/content/000 - Idea
/source/content/400 - Tips
/source/content/500 - Game Master
/source/content/700 - Sessions
/source/content/998 - SRD
/source/content/999 - Templates
